

 #Navbar{
  display:flex;
  justify-content: space-around;
  text-decoration: none;
  background-color: teal;
  margin-bottom:50px;
}
#Navbar a{
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white
}
#container{
  border: "2px solid red";
  display: grid;;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
  column-gap: 15px;
  padding:40px;
 margin:auto;
 margin-top: 20px;
 margin-bottom: 20px;

}
#container #box{
  border: "2px solid red";
   height:auto;
   width:300px;
   text-align: center;
   padding:20px;
   border-radius: 20px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container img{
  border: "2px solid red";
   height:200px;
   width:80%

}
#btndiv{
  width: 100px;
  border: 2px solid red;   
}

button{
  padding:10px;
  width:auto;
  color:white;
  background-color: teal;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
button:hover{
background-color: rgb(169, 155, 155);
}
#footer{
  height:300px;
  margin-top:50px;
  padding:30px;
  text-align: center;
  color:white;
  background-color: teal;
}
      
.img-div {
position: relative;
overflow: hidden;
width: 100%;
border:5px solid black;
height: 60vh; 
border-radius: 20px;
margin-top: 30px;     
text-align: center;
}

img {
min-width: 100%;
min-height: 40%;
border-radius: 20px;
z-index: 1;
}

h1 {
text-align: center;
color: white;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
z-index: 3;
max-width: 400px;
width: 100%;
height: 50px;
} 

#filterSort{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  

}


/* signup form css */
#form{
  height:auto;
  width:300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: ceter;
  padding:50px;
  margin: auto;
  border-radius: 20px;
}

#form input[type="text"],input[type="password"],input[type="email"],input[type="url"], select{
  height:40px;
  width:300px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
} 

#form button{
width:150px;
padding:20px;
margin: auto;
margin-left: 30%;
margin-top: 10px;
font-size: 18px;
}

/* responsive part start header */

@media only screen and (max-width: 1100px){
  #Navbar{
    width:1160px;
    background-color:rgb(129, 202, 66);
   }
   #container{
     grid-template-columns: repeat(3, 1fr);
   }
   button{
    background-color:rgb(129, 202, 66);
   }
   #footer{
     width:1100px;
    background-color:rgb(129, 202, 66);
   }
   #form{
    margin:auto;
  
  }
   .img-div{
   width:1130px;
    background-color:rgb(129, 202, 66);
   }
}

@media only screen and (max-width: 768px) {
#Navbar{
 width:760px;
 background: #000;
}
#container{
  grid-template-columns: repeat(2, 1fr);
}
button{
  background-color:#000;
}
#footer{
  width:700px;
 background-color:#000;
}
.img-div{
  width:750px;
 background: #000;
}
#form{
  margin:auto;

}
}
@media only screen and (max-width: 390px) {
#Navbar{
 width:400px;
 background-color:rgb(54, 79, 126);
}
#container{
  grid-template-columns: repeat(1, 1fr);
}
button{
  background-color:rgb(54, 79, 126);

}
#footer{
  width:350px;
  background-color:rgb(54, 79, 126);
}
#form{
  margin: auto;

}
.img-div{
  width:400px;
 background-color:rgb(54, 79, 126);
}

} 